
@{
    ViewBag.Title = "AddRestaurant";
}

<h2>AddRestaurant</h2>

<form action="" method="post">
    <input type="text" class="form-control" name="r_name" placeholder="Restaurant Name" />
    <input type="text" min="0" class="form-control" name="r_address" placeholder="Address" />
    <input type="submit" value="ADD RESTAURANT" class="form-control" />
</form>