
@{
    ViewBag.Title = "ShowFood";
}

<h2>ShowFood</h2>


<h3>
    <a href="#" class="btn btn-info">Restaurents</a> <a href="#" class="btn btn-info">Show Food</a>
    <a href="#" class="btn btn-info">Requests</a> <a href="#" class="btn btn-info">Show Employee</a>

</h3>

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Id</th>
        <th>Request Id</th>
    </tr>
    @foreach (var r in Model)
    {
        <tr>
            <td>@r.f_name</td>
            <td>@r.f_id</td>
            <td>@r.req_id</td>
        </tr>
    }
</table>